@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.sidebar{
    background: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.sidebar .titleSide{
    margin-bottom: 5%;
    text-align: center;
}

.sidebar .titleSide img{
    display: flex;
    width: 55%;
    height: auto;
    margin: 0 auto;
}

li{
    list-style-type: none;
}

li a{
    display: block;
    padding: 13px 30px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}

li a .icon{
    color: #000;
    width: 30px;
    display: inline-block;
}

.divTopBar{
    padding-top: 3% 0 3% 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    top: 0;
    margin-left: 20%;
    width: 80%;
  }

  .inputBuscar{ 
    background-color: #fff;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left; 
    width: 65%;
  }

  #searchbar{
    padding: 1%;
    border-radius: 5px;
  }

  input[type=text] {
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    flex-grow : 1;
    font-size: 0.9rem;
    border: none;
  }

  .botBuscar{
    font-size: 0.9rem;
    color: #aaa;
    align-self: center;
    margin-right: 3%;
  }

.divTopBar span {
    margin-right: 3%;    
}